.footer {
    padding: 20px;
    background-color: #4b79a1;
    color: white;
    text-align: center;
}

.address {
    margin: 20px 0;
}

.address p:hover {
    transition: color 2s, font-weight 2s;
    color: red;
    font-weight: bold;
}