.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f0f8ff, #e6e6fa);
}

.main {
    padding-top: 80px; 
}

.purpose {
    margin: 5px; 
    padding: 15px; 
    border: 1px solid #ccc;
}

.infoBlock { 
    margin: 10px;
    padding: 30px;
    border: 1px solid #ccc;
    transition: transform 0.3s;
}

.infoBlock:hover {
    transform: translate(-5px, 5px);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table,
.th,
.td {
    border: 1px solid #ccc;
    padding: 10px;
}

.caption {
    caption-side: top;
    font-weight: bold;
    font-size: 18px;
}

.th {
    background-color: #f8f8f8;
}
